header, footer {
  color: white;
  background-color: green;
}
nav {
  background-color: #728B96;
}

h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
 color: #8c0315;
 background-color: #bfb083;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

#fruitButton {
    background-color: #8c0315;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}